[user]
	name = Kenichi KATO
	email = k3nichikato@gmail.com
[alias]
    st = status
    co = "!f() { echo 'use switch/restore' >&2; }; f"
    sw = switch
    rs = restore
    br = branch
    ci = commit
[color]
    status = auto
    diff = auto
    interactive = auto
    grep =auto
	ui = auto
[core]
    editor = vim
    autocrlf = input
	ignorecase = true
[push]
	default = simple
    autoSetupRemote = true
[merge]
	ff = false
[pull]
	rebase = true
[init]
	defaultBranch = main
